<footer class="d-flex bg-primary text-light p-3">
    <span class="col">Hacking The Future 2017</span>
    <span class="col text-right">Javascript Challenge by Quentin Bultinck & Riwan Carpentier</span>
</footer>