<!DOCTYPE html>
<html>
<head>
    <title>Convoys | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap-social-5.1.1.min.css'/>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<%- include ../partials/header.ejs %>
<div class="container-fluid">
</div>

<%- include ../partials/footer.ejs %>

<script src="/js/loader.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/ajaxCalls.js"></script>
<script type="application/javascript">
    const gInterface = {
        init: function () {
            $.get({
                url: "http://cunning-convoys.azurewebsites.net/api/Convoys",
            });
        },
        bindEvents: function () {
            let self = this;
        }
    };

    $(document).ready(function () {
        gInterface.bindEvents();
        gInterface.init();
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Kh2SktbSoAyR_8XeVaSqBKo6340URXk"
        type="text/javascript"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/popper-1.12.6.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
