<!DOCTYPE html>
<html>
<head>
    <title>Convoys | Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap-social-5.1.1.min.css'/>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<%- include ../partials/header.ejs %>
<div class="container-fluid">
    <div id="map"></div>
</div>

<%- include ../partials/footer.ejs %>

<script src="/js/loader.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/ajaxCalls.js"></script>
<script type="application/javascript">
    const gInterface = {
        initMap: function () {
            ajaxCalls.getCities().then(data => {
                let arrayData = [['Country', 'Population']];
                data.forEach(item => {
                    arrayData.push(
                        [item.country, "Population: " + item.population]);
                });

                google.charts.load('current', {'packages': ['map']});
                google.charts.setOnLoadCallback(drawMap);

                function drawMap() {
                    let data = google.visualization.arrayToDataTable(arrayData);

                    let options = {
                        mapType: 'styledMap',
                        showTooltip: true,
                        showInfoWindow: true,
                        maps: {

                        }
                    };

                    let map = new google.visualization.Map(document.getElementById('map'));

                    map.draw(data, options);
                }
            });
        },
        bindEvents: function () {
            let self = this;
        }
    };

    $(document).ready(function () {
        gInterface.bindEvents();
        gInterface.initMap();
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Kh2SktbSoAyR_8XeVaSqBKo6340URXk"
        type="text/javascript"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/popper-1.12.6.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
